@import 'variables';

@mixin fluid-font-size($min, $max) {
  font-size: #{$min}px;

  @media screen and (min-width: $container-mobile) {
    font-size: calc(#{$min}px + calc(#{$max} - #{$min}) * #{$breakpoint});
  }

  @media screen and (min-width: $container-desktop) {
    font-size: #{$max}px;
  }
}

@mixin fluid-font-spacing($min, $max) {
  letter-spacing: #{$min}px;

  @media screen and (min-width: $container-mobile) {
    letter-spacing: calc(#{$min}px + calc(#{$max} - #{$min}) * #{$breakpoint});
  }

  @media screen and (min-width: $container-desktop) {
    letter-spacing: #{$max}px;
  }
}

@mixin fluid-font-line-height($min, $max) {
  line-height: #{$min}px;

  @media screen and (min-width: $container-mobile) {
    line-height: calc(#{$min}px + calc(#{$max} - #{$min}) * #{$breakpoint});
  }

  @media screen and (min-width: $container-desktop) {
    line-height: #{$max}px;
  }
}

.fluid-headline-1 {
  @include fluid-font-size(44, 60);
  @include fluid-font-line-height(54, 70);
}

.fluid-headline-2 {
  @include fluid-font-size(26, 40);
  @include fluid-font-line-height(32, 52);
}

.fluid-headline-3 {
  @include fluid-font-size(22, 36);
  @include fluid-font-line-height(28, 44);
}

.fluid-headline-4 {
  @include fluid-font-size(18, 32);
  @include fluid-font-line-height(28, 40);
}

.fluid-body-1 {
  @include fluid-font-size(16, 20);
  @include fluid-font-line-height(24, 26);
}

.fluid-body-2 {
  @include fluid-font-size(15, 16);
  @include fluid-font-line-height(22, 24);
}

.fluid-small {
  @include fluid-font-size(13, 14);
  @include fluid-font-line-height(20, 21);
}
