@import 'fluid-font';
@import 'fluid-spacing';
@import 'variables';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body,
body > div,
body > div > div {
  @extend .fluid-body-1;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.m-auto {
  margin: 0 auto;
}

a {
  @apply text-gray-500;
  &.nuxt-link-exact-active {
    @apply text-black;
  }
}
