$container-desktop: 1450px;
$container-mobile: 360px;
$bg-image: "https://res.cloudinary.com/iridian/image/upload/f_auto,q_auto/v1587982545/bg.jpg";
// BREAKPOINT OF THE FLUID FONT/SPACING
$breakpoint: '((100vw - 360px) / 1090)';
